{{ form_start(form, {'attr': {'class': 'form'}}) }}
<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="card mb-3">
        <div class="card-body">
        
            {% if trick.pictures is not empty %}
            <h4>Image Principale :</h4>
            <div class="row">
                <div class="col-md-12">
                    <!--<i class="fas fa-pencil-alt"></i> 
                    <input type="file" class="form-control-file" id="image_main" name="main_image" accept="image/*">-->
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="remove_main_image" name="remove_pictures[]" value="{{ trick.pictures|first }}">
                        <label class="form-check-label" for="remove_main_image"><i class="fas fa-trash"></i></label> 
                    </div>
                    <img src="{{ asset('build/pictures/tricks/' ~ trick.pictures|first) }}" class="img-fluid" alt="Picture" style="max-height: 500px; width:100%; object-fit: cover;">
                </div>
            </div>
            <br>
            {% endif %}

            <div class="row mt-3">
            {% if trick.pictures|length > 1 %}
            <div class="col-md-6">
                <div class="row">
                    <h4>Autres images :</h4>
                    {% for picture in trick.pictures|slice(1) %}
                    <div class="col-md-6">
                        <img src="{{ asset('build/pictures/tricks/' ~ picture) }}" class="img-fluid" alt="Picture" style="height: 200px; width:300px; object-fit: cover;">
                        <br>
                        <div class="form-group">
                            <label for="image_{{ loop.index }}">Image {{ loop.index }}</label>
                            <!--<input type="file" class="form-control-file" id="image_{{ loop.index }}" name="additional_images[]" accept="image/*">
                                <i class="fas fa-pencil-alt"></i>-->
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="remove-checkbox" id="remove_image_{{ loop.index }}" name="remove_pictures[]" value="{{ picture }}">
                            <label class="form-check-label" for="remove_image_{{ loop.index }}"><i class="fas fa-trash"></i></label>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <br>
                </div>
            {% endif %}
            
            {% if trick.videos is not empty %}
                <div class="col-md-6">
                    <div class="row">
                        <h4>Vidéos :</h4>
                        {% for video in trick.videos %}
                        <div class="col-md-6">
                            <div class="video-container">
                                <iframe width="300" height="200" src="{{ video }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <br>
                            <div class="form-group">
                                <label for="video_upload_{{ loop.index }}">Vidéo {{ loop.index }}</label>
                                <!--<i class="fas fa-pencil-alt"></i> -->
                            </div>
                            <!--<div class="form-check">
                                <input type="checkbox" class="form-check-input" id="remove_video_{{ loop.index }}" name="remove_videos[]" value="{{ video }}">
                                <label class="form-check-label" for="remove_video_{{ loop.index }}"><i class="fas fa-times"></i></label>
                            </div>-->
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                    <br>
                </div>
            {% endif %}
            </div>
            <div class="form-edit-center">
                <div class="form-group">
                    {{ form_label(form.name, 'Nom*') }}
                    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.name) }}
                </div>
                <br>
                <div class="form-group">
                    {{ form_label(form.description, 'Description*') }}
                    {{ form_widget(form.description, {'attr': {'class': 'form-control', 'style': 'height: 200px;'}}) }}
                    <span class="error-message">{{ form_errors(form.description) }}</span>
                </div>
                <br>
                <div class="form-group">
                    {{ form_label(form.pictures, 'Images') }}
                    {{ form_widget(form.pictures, {'attr': {'class': 'form-control-file', 'multiple': true}}) }}
                    <span id="pictures-error" class="error-message"></span>
                </div>
                <br>
                <div class="form-group">
                    {{ form_label(form.videos, 'Vidéos') }}
                    {{ form_widget(form.videos, {'attr': {'class': 'form-control'}}) }}
                    <span id="videos-error" class="error-message"></span>
                    <span class="help-message">{{ form_help(form.videos) }}</span>
                </div>
                <br>
                <div class="form-group">
                    {{ form_label(form.category, 'Catégorie*') }}
                    {{ form_widget(form.category, {'attr': {'class': 'form-control', 'style': 'width: 200px!important;'}}) }}
                </div>
                <br>
                <div class="d-flex justify-content-end">
                    <div class="btn-group d-inline-flex">
                        {% if app.user == trick.user %}
                            {% include 'tricks/_delete_form.html.twig' with {'trick': trick} %}
                        {% endif %}
                        {{ form_widget(form._token) }}
                        <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
                    </div>
                </div>
            </div>
        </div>  
    </div>
    </div>  
</div>
{{ form_end(form) }}