{% for trick in tricks %}
    <div class="col-md-3 col-sm-4">
        <div class="card mb-4 custom-card-size">
            {% if trick.pictures is not empty %}
                <img src="{{ asset('/build/pictures/tricks/' ~ trick.pictures|first) }}" alt="Picture" class="card-img-top custom-picture-size">
            {% endif %}
                <div class="card-body">
                    <a href="{{ path('app_tricks_show', {'id': trick.id}) }}" class="btn btn-outline-info btn-sm">
                        <h5 class="card-title">{{ trick.name }}</h5>
                    </a>
                    <div class="group-button d-flex justify-content-end">
                        {% if app.user is not null %}
                            <a href="{{ path('app_tricks_edit', {'id': trick.id}) }}" class="btn btn-secondary"><i class="fas fa-pencil-alt"></i></a>
                            {% if app.user == trick.user %}
                            {{ include ('tricks/_delete_form.html.twig', {'id': trick.id}) }}
                            {% endif %}
                        {% endif %}
                    </div>      
                </div>
        </div>
    </div>
{% endfor %}
