{{ form_start(form, {'attr': {'class': 'form'}}) }}
<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="form-group">
                {{ form_label(form.email, 'Email') }}
                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            </div>
            <br>
            <div class="form-group">
                {{ form_label(form.username, 'Nom utilisateur') }}
                {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
            </div>
            <br>
            <div class="form-group">
                {{ form_label(form.profile_picture, 'Photo de profil') }}
                {{ form_widget(form.profile_picture, {'attr': {'class': 'form-control-file'}}) }}
            </div>
            
            <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
        </div>
    </div>
</div>
{{ form_end(form) }}